{% extends "base.html" %}

{% block content %}

<center>
  <h1>Участники проекта</h1>
    <h5>Общее руководство</h5>
    Добрушина Нина Роландовна, Толдова Светлана Юрьевна, Мороз Георгий Алексеевич, Волков Олег Сергеевич
    <h5>Сайт</h5>
    Кузнецова Анна Денисовна, Морозова Валерия Алексеевна
    <h5>Архиватор</h5>
    Попова Маргарита Владимировна
    <h5>Сбор информации про Дагестан, Абазу, Адыгею</h5>
    Аксенова Анна Александровна, Коновалова Александра Сергеевна, Яцишин Егор Сергеевич
    <h5>Сбор информации про хантов</h5>
    Ганеева Вероника Александровна
    <h5>Сбор информации про чукчей</h5>
    Волков Олег Сергеевич
    <h5>Сбор информации про эвенов</h5>
    Попова Варвара Кирилловна
    <h5>Сбор информации про саамов</h5>
    Честнов Никита Васильевич
    <h5>Сбор информации про диалектологические экспедиции</h5>
    Крупенин Алексей Фёдорович
    <h5>Сбор информации про горномарийскую, мокшанскую экспедиции, Шамардан</h5>
    Бузанов Антон Олегович
    <h5>Сбор информации про социолингвистические экспедиции</h5>
    Ногина Александра Дмитриевна
</center>
<br>

{% endblock %}